*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #fff;
}

/*Stilizimet e headerit*/

.guest h4{
    font-family: Montserrat;
    font-size: 0.8rem;
}

.opsions{
    display: flex;
    justify-content: space-around;
}

.mybtn{
    background-color: transparent !important;
    border-color:white !important;
    font-family: Montserrat !important;
    font-size: 0.8rem !important;
    color: black !important;
}

.dropdown-item{
    font-family: Montserrat !important;
    font-size: 0.8rem !important;
}

.social{
    display: flex;
}

.social li{
    list-style: none;
}

.social li a{
    color: rgba(0, 0, 0, 0.57);
    padding: 5px;
}

.twitter{
    color: black;
}

.first-con{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-family: Merriweather;
    font-size: 4rem;
    font-style: italic;
}

.nav-link{
    color: black;
    font-family: Montserrat;
    font-size: 1rem;
}

.shopping-cart{
    display: flex;
    justify-content: right;
}

.shopping-cart li{
    list-style: none;
    
}

.shopping-cart li a ion-icon{
    color: rgba(0, 0, 0, 0.57);
    width: 33px;
    height: 70px;
}

.shopping-cart h6{
    border: 2px solid rgb(238, 28, 28);
    border-radius: 50%;
    height:30px;
    width:30px;
    padding-left: 3%;
}

/*Stilizimet e seksionit 1*/

.main-title{
    position: absolute;
    left: 30%;
    top: 30%;
}

.main-title h1{
    color: #fff;
    font-family: Montserrat;
    font-size: 3rem;
}

.our-sale{
    border: 4px solid white;
}

.main-title h3{
    color: #fff;
    font-family: Montserrat;
    font-size: 1.5rem;
}

.up-to{
    border: 4px solid white;
}

.main-title2{
    position: absolute;
    left: 23%;
    top: 10%;
}

.main-title2 h1{
    font-family: Montserrat;
    font-size: 3.5rem;
}

.main-title2 h3{
    font-family: Merriweather;
    font-style: italic;
    font-size: 1rem;
}

.display-left{
    height: 30px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid rgba(14, 11, 11, 0.679);
    margin-top: 50%;
}

.display-right{
    height: 30px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid rgba(14, 11, 11, 0.679);
    margin-top: 50%;
}

.shipping{
    display: flex;
    align-items: center;
    border: 1px solid  rgba(215, 93, 93, 0.866);
    background-color: rgba(215, 93, 93, 0.866);
    
}

.shipping h4{
    font-family: Montserrat;
    font-size: 1rem;
   color: #fff;
}

.free{
    position: relative;
}

.cart{
    position: absolute;
    right: 8px;
}

.giveaway{
    display: flex;
    align-items: center;
    border: 1px solid rgba(167, 131, 87, 0.486) ;
    background-color: rgba(167, 131, 87, 0.486);
   
}

.giveaway h4{
    font-family: Montserrat;
    font-size: 1rem;
    color: #fff;
}

.give{
    position: relative;
}

.gift{
    position: absolute;
    right: 8px;
}

.sale{
    display: flex;
    align-items: center;
    border: 1px solid  rgba(66, 66, 179, 0.374);
    background-color: rgba(66, 66, 179, 0.374);
}

.sale h4{
    font-family: Montserrat;
    font-size: 1rem;
    color: #fff;
}

.up{
   position: relative;
}

.diamond{
    position: absolute;
    right: 8px;
}

.three-items{
    padding: 12px;
}

/*Stilizimet e seksionit 2*/

.trend-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trend-title h3{
    font-family: Montserrat;
    font-size: 1.5rem;
}

.trend-title h5{
    font-family: Merriweather;
    font-style: italic;
    font-size: 1rem;
}

.description-price h5{
    font-family: Montserrat;
    font-size: 0.8rem;
}

.description-price h6{
    font-family: Montserrat;
    font-size: 0.6rem;
}

.btn-icons{
    display: flex;
    justify-content: space-between;
}

.btn-icons{
    list-style: none;
    
    color: black;
}

.btn-icons li a {
    color: #747171;
    flex-direction: column;
    border: 2px solid #e7e7e7;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
}

.add-cart{
  background-color: rgba(215, 93, 93, 0.866);
  border: none;
  border-radius: 50px;
  color: white;
  padding: 7px 10px;
  text-align: center;
  display: inline-block;
  font-size: 11px;
}

.ikonat{
    padding: 5px;
}

.add-cart1{
    background-color: white;
                               /* border-color: #e7e7e7; */
    border: 2px solid #e7e7e7;
    border-radius: 50px;
    color: black;
    padding: 7px 10px;
    text-align: center;
    font-size: 11px;
}

.load{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 2%;
}

.btn-load1{
    border-radius: 50px;
    background-color: rgba(215, 93, 93, 0.866) ;
    border: none;
    color: #fff;
    padding: 10px 45px;
}

/*Stilizimet e seksionit 3*/

.part-one{
    background-image: url(images/Image13.png);
    min-height:50vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-new{
    display: flex;
    flex-direction: column;
    margin-left: 40%;
}

.title-new h2{
    color: #fff;
    font-family: Montserrat;
    font-size: 2.5rem;
    border: 5px solid white;
}

.title-new h6{
    font-family: Merriweather;
    font-style: italic;
    color: #fff;
}

.info1{
    margin-right: 10%;
}

.info1 h4{
    font-family: Montserrat;
    font-size: 1rem;
}

.info1 h5{
    font-family: Montserrat;
    font-size: 0.8rem;
    color: rgba(215, 93, 93, 0.866) ;
}

.info2{
    margin-right: 10%;
}

.info2 h4{
    font-family: Montserrat;
    font-size: 1rem;
}

.info2 h5{
    font-family: Montserrat;
    font-size: 0.8rem;
    color: rgba(215, 93, 93, 0.866) ;
}

.info3{
    margin-right: 10%;
}

.info3 h4{
    font-family: Montserrat;
    font-size: 1rem;
}

.info3 h5{
    font-family: Montserrat;
    font-size: 0.8rem;
    color: rgba(215, 93, 93, 0.866) ;
}

.info4{
    margin-right: 10%;
}

.info4 h4{
    font-family: Montserrat;
    font-size: 1rem;
}

.info4 h5{
    font-family: Montserrat;
    font-size: 0.8rem;
    color: rgba(215, 93, 93, 0.866) ;
}

.three-icons4{
    list-style: none;
    display: flex;  
    justify-content: space-around;
}

.three-icons4 li a{
    color: #747171;
   
}

.new{
    font-family: Montserrat;
    font-size: 1.2rem;
    text-decoration-line: underline;
}

.featured{
    font-family: Montserrat;
    font-size: 1.2rem;
    text-decoration-line: underline;
}


.testimonial{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #74717116;
}

.testimonial h4{
    font-family: Montserrat;
    font-size: 1.2rem;
    text-decoration-line: underline;
}

.testimonial h5{
    font-family: Montserrat;
    font-size: 1rem;
}

.testimonial h6{
    font-family: Merriweather;
    font-style: italic;
    font-size: 0.8rem;
}

.anna{
    border-radius: 50%;
}

/*Stilizimet e seksionit 4*/

.introduction{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introduction h3{
    font-family: Montserrat;
    font-size: 1.5rem;
}

.introduction h5{
    font-family: Merriweather;
    font-style: italic;
    font-size: 1rem;
}

.all-info{
    margin-top: 2%;
}

.paragraf{
    margin-left: -66% ;
}

.paragraf h4{
    font-family: Montserrat;
    font-size: 0.9rem;
}

.paragraf p{
    font-size: 0.7rem;
}

/*Stilizimet e seksionit 5*/

.get-news{
    min-height: 50vh;
    background-image: url(images/Image20.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
}

.button-text h4{
    font-family: Montserrat;
    font-size: 1.5rem;
    color: #fff;
}

.button-text h5{
    font-family: Merriweather;
    font-style: italic;
    font-size: 1rem;
    color: white;

}

.post{
    margin-bottom: 3%;
}

.btn-sub1{
    border: none;
    border-radius: 50px;
    background-color:white;
    color: #726c6c;
    font-size: 13px;
    padding: 1px 7px;
}

.btn-sub2{
    border: none;
    border-radius: 50px;
    background-color: rgba(215, 93, 93, 0.866) ;
    color: #fff;
    font-size: 13px;
    padding: 1px 9px;
}

.brand-logo{
    display: flex;
    justify-content: center;
}

.photo-info{
    border: 2px solid rgba(215, 93, 93, 0.866);
    margin: 3%;
}

.paragraf1{
    margin-left: -66% ;
   
}

.paragraf1 h4{
    font-family: Montserrat;
    font-size: 0.9rem;
}

.paragraf1 h5{
    font-family: Merriweather;
    font-style: italic;
    font-size: 0.9rem;
}

/*Stilizimet e footerit*/

footer{
    background-color: #e7e7e77b;
}

.my-footer{
    margin-top: 3%;
}

.the-footer-info{
    margin-top: 2%;
}

.the-footer-info h4{
    font-family: Montserrat;
    font-size: 1.2rem;
    text-decoration-line: underline;
}

.the-footer-info h5{
    font-family: Montserrat;
    font-size: 0.9rem;
    color: #747171;
}

.rights{
    display: flex;
    justify-content: space-around;
}

.rights h5{
    font-family: Montserrat;
    font-size: 0.7rem;
    margin-bottom: 2%;
}

.pay{
    height: 20px;
    width: 35px;
}


/*ndryshimet per te bere website responsive*/

@media only screen and (max-width: 1200px) {
       /*Nuk ka nevoj per ndryshime*/
}


@media only screen and (max-width: 992px) {

/*Stilizimet e seksionit 1*/

.shipping h4{
    font-size: 0.8rem;
}

.cart{
    height: 80%;
}

.giveaway h4{
    font-size: 0.8rem;
}

.gift{
    height: 80%;
}

.sale h4{
    font-size: 0.8rem;
}

.diamond{
    height: 80%;
}

.mySlides{
    width: 88%;
    height: 90%;
}

.mySlide{
    width: 88%;
    height: 90%;
}

.main-title{
    position: absolute;
    left: 12%;
    top: 30%;
}

.main-title h1{
    color: #fff;
    font-family: Montserrat;
    font-size: 2rem;
}

.main-title2{
    position: absolute;
    left: 15%;
    top: 10%;
}

.main-title2 h1{
    font-family: Montserrat;
    font-size: 2rem;
}

.display-left{
    margin-top: 40%;
}

.display-right{
    margin-top: 40%;
}

/*Stilizimet e seksionit 2*/

.img-section2{
    width: 70%;
}

.add-cart{
    padding: 5px 9px;
    font-size: 10px;
}

.add-cart1{
    padding: 5px 9px;
    font-size: 10px;
    margin-bottom: 2%;
}

.btn-load1{
    padding: 6px 12px;
}

/*Stilizimet e seksionit 3*/

.new{
    font-size: 1.1rem;
}

.info1 h4{
     font-size: 0.8rem;
}

.info1 h5{
    font-size: 0.7rem;
}

.info2 h4{
    font-size: 0.8rem;
}

.info2 h5{
   font-size: 0.7rem;
}

.info3 h4{
    font-size: 0.8rem;
}

.info3 h5{
   font-size: 0.7rem;
}

.info4 h4{
    font-size: 0.8rem;
}

.info4 h5{
   font-size: 0.7rem;
}

.testimonial h4{
    font-size: 1.1rem;
}

.testimonial h5{
    font-size: 0.8rem;
}

.testimonial h6{
    font-size: 0.7rem;
}

.testimonial p{
    font-size: 0.9rem;
}

.anna{
    border-radius: 50%;
}

/*Stilizimete e seksionit 5*/

.image-brand{
    height: 3%;
    width: 58%;
}

.paragraf1 h4{
     font-size: 0.8rem;
}

.paragraf1 h5{
    font-size: 0.8rem;
}

.time{
    width: 10%;
    height: 35%;
}

.medal{
    width: 10%;
    height: 40%;
}

.globe{
    width: 10%;
    height: 40%;
}

/*Stilizimet e footerit*/

.the-footer-info h4{
    font-size: 1rem;
}

.the-footer-info h5{
    font-size: 0.6rem;
}


.rights h5{
    font-size: 0.6rem;
}

}

@media only screen and (max-width: 768px) {

     

}


@media only screen and (max-width: 600px) {

}


@media only screen and (max-width: 480px) {
    
}

























